#auth-button{
    position:fixed;
    right:5px;
    top: 5px;
    border: 1px var(--text-color) solid;
    border-radius: 5rem;
    color: var(--text-color);
    padding: 10px;
}
#welcome-hero{
    height: 50vh;
    margin-top: 0px;

    background-image: url('/assets/nwav-logo.svg');
    background-repeat: no-repeat;
    background-size:125%;
    background-position: center;
}
#featured-job{
    width:100%;
}