<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <base href="https://beta.nwaudiovideo.com/" />

    <!---------------------------------------------------->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <title>NW Audio Video</title>
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <link
      rel="shortcut icon"
      href="./favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style/theme.css" />
    <link rel="stylesheet" href="./style/layout.css" />
    <link rel="stylesheet" href="./style/homepage.css" />
    <!---------------------------------------------------->
  </head>
  <body>
    <a id="auth-button" class="bx bx-user" href="/user/"></a>
    <div class="hero"></div>
    <label class="switch" id="theme-toggle">
      <input type="checkbox" />
      <i class="bx bx-sun slider round"></i>
    </label>
    <!---------------------------------------------------->
    <script src="./script/theme.js" defer></script>
    <!---------------------------------------------------->
  </body>
</html>
