<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <base href="https://beta.nwaudiovideo.com/" />

    <!---------------------------------------------------->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <title>NWAV | Signup</title>
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <link
      rel="shortcut icon"
      href="./favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style/theme.css" />
    <link rel="stylesheet" href="./style/layout.css" />
    <!---------------------------------------------------->
  </head>

  <body>
    <form action="/auth/signup" method="POST">
      <section>
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
          autofocus
        />
      </section>
      <section>
        <label for="current-password">Password</label>
        <input
          id="current-password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
        />
      </section>
      <button type="submit">Sign in</button>
    </form>

    <label class="switch" id="theme-toggle">
      <input type="checkbox" />
      <i class="bx bx-sun slider round"></i>
    </label>

    <!---------------------------------------------------->
    <script src="./script/theme.js" defer></script>
    <!---------------------------------------------------->
  </body>
</html>
