<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <base href="https://beta.nwaudiovideo.com/" />

    <!---------------------------------------------------->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <title>NWAV | Signin</title>
    <!---------------------------------------------------->

    <!---------------------------------------------------->
    <link
      rel="shortcut icon"
      href="./favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./style/theme.css" />
    <!---------------------------------------------------->
  </head>
  <body>
    <label class="switch" id="theme-toggle">
      <input type="checkbox" />
      <i class="bx bx-sun slider round"></i>
    </label>
    <!---------------------------------------------------->
    <script src="./script/theme.css"></script>
    <!---------------------------------------------------->
  </body>
</html>
